.Background {
  background-color: black;
  opacity: 0.3;
}

.buttoninner {
  padding-left: 15em;
}

.buttoninner1 {
  padding-left: 15em;
}

.divpadding {
  padding-top: 2em;
  padding-right: 3em;
}

.EntirePadding1 {
  padding-top: 50px;
  padding-bottom: 25px;
}

.EntirePadding2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.EntirePadding3 {
  padding-top: 25px;
  padding-bottom: 50px;
}

.background {
  background-color: #f2f2f2;
}
