.Background {
  background-color: black;
  opacity: 0.3;
}

.buttoninner {
  padding-left: 15em;
  padding-top: 0em;
}

.buttoninner1 {
  padding-left: 15em;
  padding-top: 0em;
}

.divpadding {
  padding-top: 2em;
}
