html,
body {
  margin: 0;
}

.header {
  height: 80px;
  background: white;
}

.container {
  display: flex; //--> 레이아웃 지정
  flex-flow: row nowrap; //--> container안의 자식 요소들을 가로로 펼쳐서 보여 줌
}

.content {
  width: 80%;
  height: 800px; //--> 높이를 sidebar보다 높게 설정함
  background: #f5f5f5;
}

.sidebar {
  width: 20%;
  height: 400px; //--> sticky가 적용될 요소는 꼭 height값이 있어야 함
  position: sticky;
  top: 0; //--> sticky 상단의 offset 0으로 부터 적용됨
  background: yellowgreen;
}

.footer {
  background: #333;
  height: 200px;
}
